@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:coral;
}

.wrapper{
    background: #fff;
    border-radius: 7px;
    max-width: 400px;
    padding:20px 25px;
    height:230px;
    transition: 0.2s ease;
}

header h1{
    font-weight: 500;
}
header p{
    color:#474747;
    font-size:15px;
}
.wrapper .form{
    margin:5px 0px 20px;
}
.form input{
    height: 50px;
    padding:15px;
    margin-top:10px;
    border: 1px solid #888;
}
.form button{
    height:40px;
    margin-top:10px;
    background-color: coral;
    color:#fff;
    cursor:pointer;
    border:1px solid rgb(202, 80, 35);
}
.form :where(input, button){
    width:100%;
    border:none;
    outline:none;
    border-radius:5px;
}
.qr-code{
    display: flex;
    justify-content:center;
    border:1px solid #ccc;
    border-radius:5px;
    padding:25px 0;
    pointer-events: none;
    opacity: 0;
}

.wrapper.active{
    height: 450px;
}

.wrapper.active .qr-code{
    opacity: 100%;
    pointer-events: auto;
    transition: opacity 0.5s 0.5s ease;
}